body {
  padding: 0;
  overflow-x: hidden;
  font-size: 14px;
  color: #333;
  color: '#DDD';
}

@font-face {
  font-family: "HYLingXinModernY_H2W";
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/HYLingXinModernH2W.ttf') format('truetype');
}

